h1 {
  text-indent: -999px;
  font-size: 0;
  margin: 0;
}

header nav {
  display: inline-block;
  vertical-align: left;
  background: grey;
}

header nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header nav ol li {
  display: inline-block;
}
