header h1 {
	text-indent: -999px;
	margin: 0;
	font-size: 0;
	background-color: grey;
}

header h1,
header nav {
	display: inline-block;
	vertical-align: all;
	background-color: grey;
}

nav h2 {
	color: white;
	text-decoration: none;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
}

nav ul li a {
	padding: 20px;
	display: block;
}

header {
	border-bottom: 1px grey solid;
	padding-left: 10px;
	text-align: left;
}

body {
	margin: 0px;
}
section {
	width: 600px
	text-align: left;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
}


article header {
	border: 0;
	text-align: center;
	padding: 0;
}
article p {
	text-align: center;
}

section img {
margin-left: auto;
margin-right: auto;
vertical-align: middle;
}




